{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
<div class="breadcrumb-block">
  <nav class="" role="navigation" aria-label="breadcrumbs">
    <a class="breadcrumb-text" href="/" title="Home">Home</a>
    {% if template contains 'page' %}
      <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
      <span class="breadcrumb-text">{{ page.title }}</span>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
        {{ collection.title | link_to: collection.url }}
      {% endif %}
      <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
      <span class="breadcrumb-text">{{ product.title }}</span>
    {% elsif template contains 'collection' and collection.handle %}
      <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <a href="{{ url }}" class="breadcrumb-text">{{ collection.title }} </a>
        <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span class="breadcrumb-text">{{ collection.title }}</span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
      {% if current_tags %}
        <a href="{{ blog.url }}" class="breadcrumb-text">{{ blog.title }}</a>
        <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
        <span class="breadcrumb-text">{{ current_tags | join: " + " }}</span>
      {% else %}
      <span class="breadcrumb-text">{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
      {{ blog.title | link_to: blog.url }}
      <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
      <span class="breadcrumb-text">{{ article.title }}</span>
    {% else %}
    <span class="breadcrumb-text" aria-hidden="true">&rsaquo;</span>
    <span class="breadcrumb-text">{{ page_title }}</span>
    {% endif %}
  </nav>
</div>
{% endunless %}

