<div class="account-section">
  <div class="account-hero-block">
    <div class="account-hero-header-block">
      <h1 class="account-header-text">
        <span class="text-span-13">Your Account Details</span>
      </h1>
    </div>
  </div>
  <div class="account-content-block">
    <div class="account-link-list">
      <a href="/account" class="account-link">Account Details</a>
      <a href="/account/addresses" class="account-link">Addresses</a>
      <a href="/account/logout" class="account-link">Sign out</a>
    </div>
    <!-- <div class="account-inner-content-block">
      <div class="div-block-61"></div>
      <div class="div-block-62">
        <div class="text-block-33">TAEHWAN KIM</div>
        <div class="text-block-34">redleopard81@hotmail.com</div>
        <div class="text-block-35">746 S Burlington Ave Los Angeles, CA 90056</div>
        <a href="#" class="account-link">Check your Addresses</a>
      </div> 
    </div>-->

    <div>
    {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <table class="responsive-table">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class="responsive-table-row">
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endpaginate %}

      <h4>{{ 'customer.account.details' | t }}</h4>

      {{ customer.default_address | format_address }}

      <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
    </div>
  </div>
</div>